@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #000000; /* Define a cor preta como plano de fundo */
    color: #fff; /* Define a cor do texto como branco para melhor legibilidade */
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    opacity: calc(30);
  }